*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
    list-style: none;
    text-decoration: none;
}

.body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: rgb(88, 255, 244);
    color: black;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}
.nav-logo {
    height: 60px;
    width: 300px;
    
 
}
.logo{
    background-image: url(image/feedbacklearn\ logo\ [Recovered]-02.png);
    background-size: cover;
    height: 50px;
    width: 100%;
   

}
 
.border{
    border: 1px solid transparent;

}
.border:hover{
    border: 1px solid rgb(255, 255, 255);
}

/** box 2 **/
.add-first{
    color: black;
    font-size: 1rem;
    
    text-align: center;
    margin-left: 15px;
}
.add-second{
    color: rgb(34, 7, 122);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}


/* box 3 **/


.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(135, 83, 19);
    width: 600px;
    height: 40px;
border-radius: 4px;


}


.search-select {
    background-color: antiquewhite;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(242, 179, 91);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: wheat;
}

.nav-search:hover{
     border: 2px solid orange;
}

/** Box 4**/
span{
    font-size: 0.7rem;

}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/*** box 6**/
.nav-cart i {
    font-size: 37px;
 
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 800;
}
/**panel**/

.panel{
    height: 100px;
    background-color: rgb(14, 29, 57);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p{
    display: inline;
   margin-left: 20px;
} 

.panel_option{
    width: 30%;
    font-size: 0.85rem;
     
}

.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}


/** HERO SECTION**/
.hero-section {
   
    height: 579px;
    display: flex;
    position: relative;
    width:100%;
    box-sizing: border-box;
   background-image: fixed;
   justify-content: space-between;

}
.sec-1 {
    position: relative;
    width: 1650px;
    height: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 1650px;
   height: 100%;    


}
.container{
    position: relative;
    width:100%;
    height: auto;

}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 590px;
}

.image-box{
    display: flex;
    position: absolute;
    animation: carousel 15s alternate infinite;
justify-content: space-evenly;
justify-items: flex-start;

}
@keyframes carousel {
    0%{
        left: 0;
    }
    10%{
        left: -0%;
    }
    20%{
        left: -1360px;
    }
    
    100%{
        left: calc(-1360px*8px);
    }
}
.hero-massage{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   font-size: 1rem;
   width: 80%;
   margin-bottom: 20px;
}
.hero-massage a{
    color: rgb(86, 163, 14);
 }

 /*** upload section**/
  
 .upload-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(181, 216, 216);
 height: 100%;
 

 }
 .upload {
    justify-content: space-evenly;
    align-items: center;
 }
 .upload-section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(135, 83, 19);
    width: 100%;
    height: 100%;
border-radius: 6px;
 }
 .upload-icon{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(242, 179, 91);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: wheat;
}

.box{
  /*  border: 2px solid khaki; */
    height:1060px;
    width: 26%;
    background-color: rgb(255, 255, 255);
    padding: 20px 0px 15px;
    margin-top: 19px;
   align-items: center;
 }

.box-image{
    height:890px;
    width: 100%;
    background-size: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
  

 }
.box-content{
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-evenly;
 }


.box-content p{
    color: rgb(86, 163, 14);
 }
 /** Footer **/
.footer{
    margin-top: 25px;
}




.foot-panel1 {
    background-color:#37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 0.85rem;
}


.foot-panel2{
    background-color: #242b34;
    color: white;
    height: 300px;
     display: flex;
     justify-content: space-evenly;
}
ul{
    margin-top: 24px;
}
  
ul a{
    display: block;
    font-size: 0.65rem;
    margin-top: 12px;
    color: aliceblue;

}
.foot-panel3 {
    background-color: #aaaaaa;
    border-top:0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1 {
    background-image: url(image/feedbacklearn\ logo\ [Recovered]-02.png);
    background-size: cover;
    height: 30px;
    width: 200px;
    align-items: left;
}
.foot-panel4{
    background-color: #242b34;
    color: #aaaaaa;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;

}
.pages {
    padding: 25px;

}
.copyright{
    padding: 5px;
}
.sidebar{
    background-color:rgb(252, 251, 248);
    height: 100%;
    width: 380px;
    transform: translateX(-390px);
    transition: all 0.5s;
    height: 100%;
    position: absolute;
    z-index: 101;
    overflow-y: scroll;
    box-shadow: 2px 2px 30px black;

}
 .hdn-head{
    background-color: #37475a;
    height: 60px;
    width: 100%; 
    color: white;
    text-align: center;
 }
.hdn-head h2{
    line-height: 60px;
}
.hdn-content h3{
    padding: 20px 25px;
    color: rgb(181, 216, 216);
}
.hdn-content ul div{
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    color: rgb(14, 29, 57);
    padding: 15px 25px;
    justify-content: space-between;

}
.fa-xmark{
    top: 20px;
    left: 400px;
    position: absolute;
    font-size: 30px;
    z-index: 101;
    display: none;

}
.fa-angle-right{
    color: rgb(86, 163, 14);
}
.hdn-content ul div:hover {
    background-color: rgb(209, 209, 210);

}
.hdn-content ul {
    padding-bottom: 9px;
}
.black{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
}
.black.active {
    width: 100%;
    z-index: 100;

}
.sidebar.active {
    transform: translateX(0);
}
.fa-xmark.active {
    display: block;
}